body{
    background-color: rgb(32, 30, 30);
    margin: 0;
    background: #0d0d0d;
    color: white;
    text-align: center;
}
header {
  background: #111;
  padding: 1rem;
}

header h1 {
  margin: 0;
  color: #ff0099;
  font-family:'Fascinate';
  font-size: 60px;
}

nav ul {
  list-style: none;
  padding: 10px;
  background: linear-gradient(to right, #ff0099, #00ccff);
  margin:0%;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  color: black;
}

nav ul li:hover {
  display: inline;
  margin: 0 15px;
  background-color: black;
  color: white;
  padding: 10px;
}


nav a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 3rem;
  background: linear-gradient(to right, #ff0099, #00ccff);
  color: black;
}

button {
  padding: 10px 20px;
  margin-top: 1rem;
  background: #ff0099;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #cc0077;
}

section {
  padding: 2rem;
}

footer {
  background: #111;
  padding: 1rem;
  margin-top: 2rem;
  background: linear-gradient(to right, #ff0099, #00ccff);
}

#timer{
    font-size: 30px;
}

#h2_timer{
    font-size: 50px;
}

#title{
    font-size: 40px;
}

#subtitle{
    font-size: 20px;
}

#eventshead{
    font-size: 70px;
    font-family: 'fascinate';
}

.event_heading{
    font-size: 50x;
}

.divtag img{
    width: 1000px;
    height: 600px;
}

video{
    width:1000px;
    height:600px;
}
